dist/
build/
*.exe
__pycache__/
*.spec

# Kullanıcıya Özel Veriler (GitHub'a gitmemeli)
saves/
game_settings.json
*.log
.env
.vscode/
.idea/

# Güvenlik Anahtarları (Kesinlikle gitmemeli)
secured_keys.json
mail_kaydet.py